@use '../utils/variables' as vars;

.header-home {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    color: white;
    padding: 5px 20px;

    .button-vaga {
        background-color: vars.$Daniel;
        width: 120px;
        height: 30px;
        font-weight: bold;
        padding: 5px 10px;
        border-radius: 15px;
        border: none;
        cursor: pointer;
        outline: none;
        transition: background-color 0.3s;

        &:hover {
            background-color: vars.$Daniel-dark;
        }
    }

    .filters {
        display: flex;
        flex-direction: row;
        gap: 15px;
        align-items: center;

        .select {
            display: flex;
            gap: 10px;
            align-items: center;
        }

        .search-container {
            position: relative;
            width: 220px;

            .search-input {
                background-color: rgb(217, 217, 217, 20%);
                color: white;
                padding-left: 10px;
                width: 215px;
                height: 30px;
                border-radius: 15px;
                border: none;
                margin-right: 0px;
                outline: none;
            }

            .search-icon {
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                font-size: 20px;
                color: #aaa;
                pointer-events: none;
            }
        }
    }
}