@use "../utils/variables" as vars;

.estatistica {
    color: white;
    background-color: #151515;
    padding: 7px;
    width: 100px;
    height: 85vh;
    margin: 5px 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 30px;

    .card {
        display: flex;
        flex-direction: column;
        gap: 5px;
        justify-content: center;
        align-items: center;

        .nome {
            font-size: 12px;
            text-align: center;
        }

        .num {
            font-size: 30px;
        }
    }

    .cardsGray {
        display: flex;
        flex-direction: column;
        gap: 30px;
        background-color: rgb(217, 217, 217, 10%);
        border-radius: 10px;
        padding: 7px 10px;
        max-height: 65%;
        overflow-y: auto;

    }

    .button-editar {
        margin-top: 20px;
        justify-self: flex-end;
        align-self: center;
        background-color: vars.$Daniel;
        border: none;
        border-radius: 20px;
        height: 20px;
        width: 80px;
        cursor: pointer;

        &:hover {
            background-color: vars.$Daniel-dark;
        }
    }
}

@media (max-width: 1600px) {
    .estatistica {
        padding: 7px;
        width: 80px;
        height: 80vh;
        margin: 5px 15px;
        border-radius: 10px;
        gap: 10px;

        .card {
            gap: 5px;

            .nome {
                font-size: 0.7rem;
                text-align: center;
            }

            .num {
                font-size: 1.2rem;
            }
        }

        .cardsGray {
            gap: 10px;
            border-radius: 10px;
            padding: 7px 10px;
        }

        .button-editar {
            margin-top: 0px;
            border-radius: 7px;
            height: 20px;
        }
    }
}
