@use '../utils/variables' as vars;

.ReactModal__Overlay {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    background-color: rgba(0, 0, 0, 0.75) !important;
    position: absolute;
    z-index: 3;

    .myContentClass {
        display: flex;
        flex-direction: column;
        position: relative !important;
        border: none !important;
        padding: 10px !important;
        outline: none;
        background-color: #161515 !important;
        border-radius: 4px;
        width: 800px !important;
        height: 450px !important;
        color: #fff;

       button {
        align-self: flex-end;
        padding: 5px 10px;
        background-color: #00fbbd;
        border: none;
        border-radius: 5px;
        font-weight: bold;
        margin-bottom: 10px;
        transition: all 0.4 ease-in-out; 

        :hover {
            background-color: #68fcd7;
            transition: all 0.4 ease-in-out;
            cursor: pointer;
        }
    }

       .rowButton {
            text-align: end;
            padding: 0;
            margin: 0;
        }

    }
}