$font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

// COLORS
$azul-logo: #1830B2;
$background-comp: #101010;
$background-base: #181818;
$background-dark: #151515;
$font: #F4F3F2;
$hr-color: #444444;

// UTILS
$radius: 8px;