@use '../utils/variables' as vars;

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 12px;
    width: 2px;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: vars.$font-family;
    background-color: white;
    overflow: hidden;
}